@import-normalize;

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --fw-bold: 800;
  --fw-regular: 600;
  --fw-light: 300;
  --family: "Nunito Sans", sans-serif;
  --shadow: 2px 2px 10px 0px rgba(0,0,0,0.1);
}

body {
  margin: 0;
  font-family: var(--family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  width: 100%;
}
h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

select, button, a, input {
  color: inherit;
  font-family: inherit;
}

a {
  text-decoration: none;
}

button {
  color: hsl(180, 100%, 99%);
  border: none;
  background: none;
  cursor: pointer;
}

.screen-reader-text {
  clip: rect(1px,1px,1px,1px);
  word-wrap: normal!important;
  border: 0;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}